 {% block topnav %}
  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Kolabria</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/about/">About</a></li>
              <li><a href="/contact/">Contact</a></li>
            </ul>
 
         {% if user.is_authenticated %}
         <p class="navbar-text pull-right">Logged in as <a href="#">{{ user.email}}</a> | <a href="/accounts/logout/">Logout</a></p>
         {% else %} 
             <form class="form-inline navbar-text pull-right">Login: 
                 <input type="text" class="input-small" placeholder="username">
                 <input type="password" class="input-small" placeholder="Password">
                 <button type="submit" class="btn">Go</button>
             </form>
         {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
{% endblock topnav %}     
