{% extends 'main.html' %}

{% block title %} Kolabria - User Settings{% endblock %}

{% block content %}
	<div class="page-header">
		<h1>Kolabria - User Settings</h1>
	</div>
	
	<div class="span8">
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-success">
					<a class="close" data-dismiss="alert">×</a>
					{{ message }}
				</div>
			{% endfor %}	
		{% endif %}
				
		<p>
    Welcome <b>{{ user }}</b>, 
    This is your settings page 
    </p>
		{% include 'users/_controls.html' %}
		
	</div>
{% endblock %}
